* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #bfd7e4;
}

label {
  color: #4e4958;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

span {
  color: #c1bccc;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #293241;
}

img {
  width: 225px;
  height: 100px;
}
.pre-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 107px;
  margin-bottom: 32px;
}

.pre-header h1 {
  color: #fff;
  font-family: Staatliches;
  font-size: 36px;
  font-weight: 400;
  height: 45px;
}

.pre-header p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  height: 46px;
  margin-bottom: 2px;
}

header {
  border-radius: 20px 20px 0px 0px;
  background: #f67669;
  width: 750px;
  height: 133px;

  text-align: center;
  padding: 50px 275px;

  margin: auto;
}

header h2 {
  color: #fff;
  font-family: Staatliches;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

form {
  width: 750px;
  margin: auto;
  border-radius: 0px 0px 20px 20px;
  background: #fff;
  padding: 64px;

  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.input-name {
  display: flex;
  gap: 22px;
}

.input-name input,
select,
.date-wrapper input {
  appearance: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;

  width: 300px;
  height: 55.529px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 31px;
}

.input-wrapper input {
  border-radius: 8px;
  padding: 8px;
  border: 1px solid, #e6e6f0;
  background: #fafafc;
  height: 55px;
}

legend {
  text-align: center;
  width: 100%;
  padding: 8px;
  color: #253b51;
  font-family: Staatliches;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  border-bottom: solid 1px #e6e6f0;
}

textarea {
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  width: 608px;
  height: 166px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-wrapper input {
  border: 1px solid #e6e6f0;
  width: 24px;
  height: 24px;
}

.calendar-wrapper {
  display: flex;
  justify-content: space-between;
}

.time-wrapper {
  display: flex;
  gap: 10px;
}

.time-wrapper input {
  width: 140px;
  height: 55.529px;
}

.button {
  display: flex;
  width: 622px;
  height: 51px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f67669;
  border: none;

  color: #fff;
  font-family: Staatliches;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px; /* 130% */
}
